<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Helo there!</h2>
        <h3>Content goes there</h3>
        @*content pages will be loaded here*@
        @RenderBody()
    </div>
</body>
</html>
